<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImagesDragDrop (AU).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ImagesDragDrop (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ImagesDragDrop (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ImagesDragDrop (VST).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>393325547F598790EBEBCA64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B22F4A975CF1027D407EE31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>706407C4A1BC7DD8DE224F93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA1379788E7E14E230C8BE8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
